<div class="card">
    <div class="card-content">
      <div class="content is-flex is-align-items-center">
        <div class="is-flex is-align-items-center is-flex-grow-1">
            <span class="">Nome da Permissão</span>
            <a class="icon has-text-info" onclick="editarPermissao()">
              <i class="fas fa-edit"></i>
            </a>
            <a class="icon has-text-danger" onclick="excluirPermissao()">
              <i class="fas fa-trash-alt"></i>
            </a>
        </div>
        <div class="has-text-right">
            <a class="is-info" onclick="adicionarOuRemover()">Adicionar/Remover</a>
        </div>
      </div>
    </div>
  </div>