{% extends "base.html" %}
{% block content %}
 <div class="container">
    <div class="has-text-right mb-4">
        <a class="button is-link mr-2" onclick="openNewRole()">+ novo perfil</a>
        <a class="button is-info" >+ nova permissão</a>
    </div>
    <div class="notification p-3 bg-blue-plus">
        <div class="columns">
            <div class="column is-flex is-align-items-center">
                <p>
                    <strong class="has-text-dark">
                        Lista de perfis:
                    </strong>
                </p>
            </div>
            <div class="column">
                <div class="is-flex is-justify-content-flex-end buttons are-small is-flex is-align-items-baseline">
                    <span class="has-text-dark">Ordem:</span>
                    <a href="{{url_for('admin.roles', page=page, ordem='asc')}}" {% if ordem =='asc' %}disabled{%endif%} class="ml-1 button"><i class="fa-solid fa-arrow-up-wide-short"></i></a>
                    <a href="{{url_for('admin.roles', page=page, ordem='desc')}}" class="button" {% if ordem =='desc' or ordem == '' %}disabled{%endif%}><i class="fa-solid fa-arrow-down-wide-short"></i></a>  
                </div>
            </div>
        </div>
      </div>
      <table class="table is-striped is-hoverable is-fullwidth">
        <thead>
            <tr>
            <th>Perfil</th>
            <th>Descrição</th>
            <th></th>
            </tr>
        </thead>
        <tbody>
           
                <tr>
                    <th></th>
                    <td></td>
                    <td class="has-text-right">
                        <div>
                            <a href="#" class="tooltip" data-tooltip="editar">
                              <span><i class="fas fa-edit icon-hover has-text-info"></i></span>
                            </a>                    
                            <div class="dropdown is-hoverable">
                                <div class="dropdown-trigger">
                                    <a href="">
                                        <span class=""><i class="fa-solid fa-ellipsis-vertical has-text-dark px-2"></i></span>
                                    </a>
                                </div>
                                <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                                    <div class="dropdown-content">
                                        <a href="#" onclick="openResetSenhaModal()" class="dropdown-item"><i class="fa-solid fa-key has-text-dark"></i>
                                            Redefinir Senha
                                        </a>
                                        <a href="#" class="dropdown-item">
                                            <span class=""><i class="fa-solid fa-user-tie has-text-dark"></i> Definir permissão</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                          
                </tr>
            
        </tbody>
      </table>

    </div>
    {% include "components/modals/new_role.html" %}
{% endblock content %}