{% extends "base.html" %}
{% block content %}
 <div class="container">
    <div class="has-text-right mb-4">
        <a class="button is-link" onclick="openNewRole()">+ novo perfil</a>
    </div>
    <div class="notification p-3 bg-blue-plus">
        <div class="columns">
            <div class="column is-flex is-align-items-center">
                <p>
                    <strong class="has-text-dark">
                        Lista de perfis:
                    </strong>
                </p>
            </div>
            <div class="column">
                <div class="is-flex is-justify-content-flex-end buttons are-small is-flex is-align-items-baseline">
                    <span class="has-text-dark">Ordem:</span>
                    <a href="{{url_for('admin.roles', page=page, ordem='asc')}}" {% if ordem =='asc' %}disabled{%endif%} class="ml-1 button"><i class="fa-solid fa-arrow-up-wide-short"></i></a>
                    <a href="{{url_for('admin.roles', page=page, ordem='desc')}}" class="button" {% if ordem =='desc' or ordem == '' %}disabled{%endif%}><i class="fa-solid fa-arrow-down-wide-short"></i></a>  
                </div>
            </div>
        </div>
      </div>
      <table class="table is-striped is-hoverable is-fullwidth">
        <thead>
            <tr>
            <th>Perfil</th>
            <th>Descrição</th>
            <th></th>
            </tr>
        </thead>
        <tbody>
            {% for r in roles %}
            <tr>
                <th>{{r.nome}}</th>
                <td>{{r.descricao}}</td>
                <td class="has-text-right">
                    <div>
                        <a onclick="openEditRole({{r.id}})" class="tooltip" data-tooltip="editar">
                          <span><i class="fas fa-edit icon-hover has-text-info"></i></span>
                        </a>                    
                        <div class="dropdown is-hoverable has-text-left">
                            <div class="dropdown-trigger">
                                <a href="">
                                    <span class=""><i class="fa-solid fa-ellipsis-vertical has-text-dark px-2"></i></span>
                                </a>
                            </div>
                            <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                                <div class="dropdown-content">
                                    <a href="{{url_for('admin.role_permission', id_role=r.id)}}" class="dropdown-item"><i class="fa-solid fa-key has-text-dark"></i>
                                        Gerenciar permissões
                                    </a>
                                    <a href="{{url_for('admin.delete_role', id_role=r.id)}}" class="dropdown-item">
                                        <span class="has-text-danger-dark"><i class="fa-solid fa-user-tie has-text-danger"></i> Excluir perfil</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                      
            </tr>
            {% endfor %}
            
            
        </tbody>
      </table>

    </div>
    {% include "components/modals/new_role.html" %}
{% endblock content %}