{% extends "base.html" %}
{% block content %}
    {% if id_protocolo %}
        <form action="{{url_for('regulacao.form_protocolo', id_protocolo=id_protocolo)}}" method="post">
        <input type="hidden" name="id_protocolo" value={{id_protocolo}}>
    {% else %}
        <form action="{{url_for('regulacao.form_protocolo', id_cidadao=id_cidadao)}}" method="post">
    {% endif %}

    <div class="container">
        <div class="field">
          
        </div>    
        <div class="field">
          <a class="button is-danger" href="{{url_for('regulacao.protocolo')}}">Cancelar</a>
          {{ form.submit(class = 'button is-primary') }}
        </div>
      </div>
    </form>
  </div>
{% endblock content %}