{% extends "base.html" %} 
{% block content %}
<div class="container">
  <div class="field">
    <label for="cidadao">Selecione um cidadão</label>
    <input
      id="cidadao"
      name="cidadao"
      type="text"
      placeholder="Nome, CNS ou CPF"
      class="input"
    />
    <ul id="lista-cidadao">

    </ul>
    <!-- Lista de resposta da busca de cidadão -->
  </div>
  <div class="field is-flex is-justify-content-space-between">
    <a class="button is-danger" href="{{url_for('regulacao.protocolo')}}"
      ><i class="fas fa-arrow-left mr-2"></i> Voltar</a
    >
    <a class="button is-primary" href="{{url_for('regulacao.protocolo')}}"
      >Próximo <i class="fas fa-arrow-right ml-2"></i>
    </a>
  </div>
</div>
 
{% endblock content %}
