{% extends "base.html" %} {% block content %}
<div class="container">
  <form action="{{url_for('regulacao.selecionar_cidadao')}}" method="get">
    <div class="field has-addons tam-field-full">
      <div class="control tam-field-full">
        <input
          id="cidadao"
          name="cidadao"
          type="text"
          placeholder="Nome, CNS ou CPF"
          class="input tam-field-full"
          value="{{query}}"
        />
      </div>
      <div class="control">
        <button class="button is-info">Procurar</button>
      </div>
    </div>
  </form>
  <!-- Lista de resposta da busca de cidadão -->
  <hr>
  <div class="bg-light-blue p-4 mt-5">
  <ul id="lista-cidadao">
    {% if cidadao %}
    {% for c in cidadao %}
    <div class="card mb-3">
      <div class="card-content">
        <div class="content">
          <div class="columns">
            <div class="column">
              <span><strong>Nome:</strong> {{c.nome}}</span><br />
              <span><strong>Mãe:</strong> {{c.mae}}</span><br />
              <span><strong>Data de Nascimento:</strong> {{c.data_de_nascimento|format_data}}</span>
            </div>
            <div class="column is-flex is-justify-content-flex-end">
              <!-- Adicione a classe is-justify-content-flex-end aqui -->
              <a href="{{url_for('regulacao.form_protocolo', id_cidadao=c.id)}}" class="card-footer-item is-justify-content-flex-end"
                >Cadastrar Protocolo <i class="ml-3 fas fa-arrow-right"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    {% else %}
    <br /><br />
    {% endif %}
  </ul>
  </div>
  <hr>
  <div class="field is-flex is-justify-content-space-between">
    <a class="button is-danger mt-5" href="{{url_for('regulacao.protocolo')}}"
      ><i class="fas fa-arrow-left mr-2"></i> Voltar</a
    >
    </div>
</div>

{% endblock content %}
