<div class="modal" id="editModal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head p-4 modal-head-primary">
            <p class="modal-card-title is-size-5 has-text-white">Editar correspondência</p>
            <button class="delete" aria-label="close" onclick="closeEditModal()"></button>
        </header>
        <section class="modal-card-body has-background-white p-4 has-rounded-sm">
            <form action="{{url_for('mail.edit_assunto')}}" method="post">
                <label for="assunto"><strong>Assunto:</strong></label>
                <input class="input" type="text" name="assunto" id="assunto">
                <input type="hidden" name="mail_id" id="mail_id">
                
            <div class="buttons mt-5 is-flex is-justify-content-end">
                <button type="submit" class="button is-primary px-5">Salvar</button>
            </form>
            <button class="ml-2 button is-danger" onclick="closeEditModal()">Cancelar</button>
        </div>
        </section>
    </div>
</div>

<script>
function openEditModal(correspondencia_id, assunto) {
    document.getElementById('editModal').classList.add('is-active');
    document.getElementById('mail_id').value = correspondencia_id
    document.getElementById('assunto').value = assunto
    
}

function closeEditModal() {
    document.getElementById('editModal').classList.remove('is-active');
}

</script>
