<div class="modal" id="editModal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head bg-blue">
            <p class="modal-card-title">Editar correspondência</p>
            <button class="delete" aria-label="close" onclick="closeEditModal()"></button>
        </header>
        <section class="modal-card-body">
            <form action="{{url_for('mail.edit_assunto')}}" method="post">
                <label for="assunto"><strong>Assunto:</strong></label>
                <input class="input" type="text" name="assunto" id="assunto">
                <input type="hidden" name="mail_id" id="mail_id">
            </section>
            <footer class="modal-card-foot">
                <button type="submit" class="button is-primary">Salvar</button>
            </form>
            <button class="button" onclick="closeEditModal()">Cancelar</button>
        </footer>
    </div>
</div>

<script>
function openEditModal(correspondencia_id, assunto) {
    document.getElementById('editModal').classList.add('is-active');
    document.getElementById('mail_id').value = correspondencia_id
    document.getElementById('assunto').value = assunto
    
}

function closeEditModal() {
    document.getElementById('editModal').classList.remove('is-active');
}

</script>
