<div class="modal" id="newRole">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head p-4 modal-head-primary">
            <p class="modal-card-title is-size-5 has-text-white" id='title-modal'>Novo perfil</p>
            <button class="delete" aria-label="close" onclick="closeNewRole()"></button>
        </header>
        <section class="modal-card-body" id="loading">
            <form action="" method="post">
                <div id="loadingIndicator" class="modal-loading">
                    <!-- Coloque aqui o seu indicador de loading (por exemplo, um spinner) -->
                    Carregando...
                </div>
                {{form.role.label()}}
                {{form.role(class="input", id="role")}}
                {{form.description.label()}}
                {{form.description(class="input", id="description")}}
                <input type="hidden" name="id_role" id="id_role" value={{id_role}}>
        <div class="buttons is-flex is-justify-content-end mt-4">
                {{form.submit(class="button is-primary")}}
            </form>
            <button class="button is-danger" onclick="closeNewRole()">Cancelar</button>
        </div>
        </section>
    </div>
</div>

<script>
function openNewRole(id_role) {
    document.getElementById('newRole').classList.add('is-active');
    document.getElementById('loadingIndicator').style.display = 'none';
    document.getElementById('id_role').value = id_role
}

function openEditRole(id_role) {
    document.getElementById('newRole').classList.add('is-active');
    document.getElementById('title-modal').innerText = "Editar nome do Perfil";
    document.getElementById('id_role').value = id_role
    document.getElementById('loadingIndicator').style.display = 'block';
    // Fazer uma solicitação AJAX para obter informações do perfil
    fetch(`/master/api/perfil/${id_role}`)
        .then(response => response.json())
        .then(data => {
            document.getElementById('role').value = data.nome;
            document.getElementById('description').value = data.descricao;
        })
        .catch(error => console.error('Erro ao obter informações do perfil:', error));
        document.getElementById('loadingIndicator').style.display = 'none';
}

function closeNewRole() {
    document.getElementById('newRole').classList.remove('is-active');
    document.getElementById('role').value = '';
    document.getElementById('description').value = '';
    document.getElementById('title-modal').innerText = "Novo Perfil";
}

</script>
