<div class="modal" id="newPermission">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head bg-blue">
            <p class="modal-card-title" id='title-modal'>Nova Permissão</p>
            <button class="delete" aria-label="close" onclick="closeNewPermission()"></button>
        </header>
        <section class="modal-card-body" id="loading">
            <form action="{{url_for('admin.new_permission')}}" method="post">
                <div id="loadingIndicator" class="modal-loading">
                    <!-- Coloque aqui o seu indicador de loading (por exemplo, um spinner) -->
                    Carregando...
                </div>
                {{form.nome.label()}}
                {{form.nome(class="input")}}
                {{form.descricao.label()}}
                {{form.descricao(class="input")}}
                <input type="hidden" name="id_role" id="id_role">
            </section>
            <footer class="modal-card-foot">
                {{form.submit(class="button is-primary")}}
            </form>
            <button class="button" onclick="closeNewPermission()">Cancelar</button>
        </footer>
    </div>
</div>

<script>
function openNewPermission(id_role) {
    document.getElementById('newPermission').classList.add('is-active');
    document.getElementById('loadingIndicator').style.display = 'none';
    document.getElementById('id_role').value = id_role
}

function openEditRole(id_role) {
    document.getElementById('newPermission').classList.add('is-active');
    document.getElementById('title-modal').innerText = "Editar nome da Permissão";
    document.getElementById('id_role').value = id_role
    document.getElementById('loadingIndicator').style.display = 'block';
    // Fazer uma solicitação AJAX para obter informações do perfil
    fetch(`/master/api/perfil/${id_role}`)
        .then(response => response.json())
        .then(data => {
            document.getElementById('role').value = data.nome;
            document.getElementById('description').value = data.descricao;
        })
        .catch(error => console.error('Erro ao obter informações do perfil:', error));
        document.getElementById('loadingIndicator').style.display = 'none';
}

function closeNewPermission() {
    document.getElementById('newPermission').classList.remove('is-active');
    document.getElementById('role').value = '';
    document.getElementById('description').value = '';
    document.getElementById('title-modal').innerText = "Nova Permissão";
}

</script>
