<div class="modal" id="resetSenhaModal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head p-4 modal-head-primary">
            <p class="modal-card-title is-size-5 has-text-white">Redefinir senha</p>
            <button class="delete" aria-label="close" onclick="closeResetSenhaModal()"></button>
        </header>
        <section class="modal-card-body">
            <form action="{{url_for('user.reset_pass')}}" method="post">
                <label for="nova_senha"><strong>Nova senha:</strong></label>
                <input class="input" type="password" name="nova_senha" id="pass" required minlength="6">
                <label for="confirmar_senha"><strong>Confirmar senha:</strong></label>
                <input class="input" type="password" name="confirmar_senha" id="pass" required minlength="6">
                <input type="hidden" name="user_id" id="user_id">
                <input type="hidden" name="departamento_id" id="departamento_id">
                {% include "components/mostrar_senha.html" %}
                <div class="buttons is-flex is-justify-content-end mt-4">
                    <button type="submit" class="button is-primary">Salvar</button>
                    </form>
                    <button class="button is-danger" onclick="closeResetSenhaModal()">Cancelar</button>
                </div>
            </section>
    </div>
</div>

<script>
function openResetSenhaModal(user_id, departamento_id = null) {
    document.getElementById('resetSenhaModal').classList.add('is-active');
    document.getElementById('user_id').value = user_id
    document.getElementById('departamento_id').value = departamento_id

}

function closeResetSenhaModal() {
    document.getElementById('resetSenhaModal').classList.remove('is-active');
}

</script>
