<div class="modal" id="myModal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Recuperação de senha</p>
            <button class="delete" aria-label="close" onclick="closeModal()"></button>
        </header>
        <section class="modal-card-body">
            <form action="{{url_for('redefinir_senha_solicitacao')}}" method="POST">
                <p class="mb-4">Insira seu e-mail cadastrado. Você receberá um e-mail com instruções para redefinir sua senha em poucos minutos.</p>
                <div class="field">
                    <label for="" class="label">e-mail:</label>
                    <p class="control has-icons-left">
                        <input class="input" type="email" name="email" id="email" required placeholder="Email">
                        <span class="icon is-small is-left">
                            <i class="fas fa-envelope"></i>
                        </span>
                    </p>
                </div>
                <hr>
                <div class="is-flex is-justify-content-end">
                    <button type="submit" class="button is-primary">Enviar</button>
                </div>
           </form>
        </section>
    </div>
</div>

<script>
    function openModal() {
        var modal = document.getElementById('myModal');
        modal.style.display = 'flex';
    }

    function closeModal() {
        var modal = document.getElementById('myModal');
        modal.style.display = 'none';
    }
    window.onclick = function (event) {
        var modal = document.getElementById('myModal');
        if (event.target === modal) {
            modal.style.display = 'none';
        }
    };
</script>