{% macro card_mail(numero, assunto, tipo, data, correspondencia, nome_usuario, departamento, current_user) %}
  <div class="card custom-card mb-5 mr-0" style="position: relative;">
    <div class="card-content">
        <p class="title is-6">
            {{tipo}}: {{numero}}
            <span style="position: absolute; top: 10px; right: 10px;">
              <a href="#" class="icon has-text-link ml-2 {% if current_user.id != correspondencia.usuario %}
              disabled has-text-grey
              {% endif %}
              " onclick="openEditModal('{{correspondencia.id}}', '{{assunto}}', '{{correspondencia.visibilidade}}')">
                <i class="fas fa-edit"></i>
              </a>
            </span>
        </p>
        <p class="mb-2"><strong>Data:</strong> {{data}}</p>
        <p><strong>Assunto:</strong> {{assunto}}</p>
        {% if nome_usuario %}
          <p class="mt-3"><strong>Responsavel:</strong> {{nome_usuario}}</p>
          <p class="mt-3"><strong>Estabelecimento:</strong> {{departamento.estabelecimento.nome}} </p>
          <p class="mb-5"><strong>Departamento:</strong> {{departamento.nome}} </p>
        {% endif %}
        <span style="position: absolute; bottom: 10px; right: 10px;" >
          <div class="tag is-normal
          {% if correspondencia.visibilidade == 'publica' %}
          is-info
          {% elif correspondencia.visibilidade == 'sigilosa' %}
          is-dark
          {% else %}
          is-link
          {% endif %}
          ">
            {{correspondencia.visibilidade | upper}}
          </div>
        </span>
    </div>
  </div>
{%endmacro %}