{% macro card_mail(numero, assunto, tipo, data, correspondencia_id, nome_usuario, departamento, current_user) %}
  <div class="card custom-card mb-5 mr-0">
    <div class="card-content">
        <p class="title is-6">
            {{tipo}}: {{numero}}
            <a href="#" class="icon has-text-link ml-2 {% if current_user != nome_usuario %}
            disabled has-text-grey
            {% endif %}
            " onclick="openEditModal('{{correspondencia_id}}', '{{assunto}}')">
              <i class="fas fa-edit"></i>
            </a>
        </p>
        <p><strong>Assunto:</strong> {{assunto}}</p>
        <p class="mt-4"><strong>Data:</strong> {{data}}</p>
        {% if nome_usuario %}
          <p><strong>Responsavel:</strong> {{nome_usuario}} </p>
          <p><strong>Departamento:</strong> {{departamento}} </p>
        {% endif %}
    </div>
  </div>
{%endmacro %}