{% extends "base.html" %} {% block content %}
<h1 class='title'>{{context}}</h1>

<form method="POST">
  <label>Título da Pesquisa:</label><br />
  <input type="text" name="titulo" class='input'/><br />
  <br>
  <label>Descrição da Pesquisa:</label><br />
  <textarea name="descricao" rows="4" class='textarea'></textarea><br />

  <h2>Perguntas:</h2>
  <br>
  <div id="perguntas-container">
    <!-- Container para adicionar perguntas dinamicamente -->
  </div>
  <br>
  <div class="is-flex is-justify-content-space-between">
    <button type="button" onclick="adicionarPergunta()" class="button">
      <span><i class="fa-solid fa-plus mr-2"></i></span> Adicionar Pergunta
    </button>
    <button type="submit" class="button is-primary">Criar Pesquisa</button>
  </div>
</form>

<script>
  let perguntaCount = 0;

  function adicionarPergunta() {
    perguntaCount++;
    const perguntasContainer = document.getElementById("perguntas-container");
    const perguntaDiv = document.createElement("div");
    perguntaDiv.innerHTML = `
            <label>Pergunta ${perguntaCount}:</label><br>
            <input type="text" name="pergunta_${perguntaCount}" class="input"><br>
            <div class="control mt-1">
                Tipo de resposta: 
                <label class="radio">
                  <input type="radio" name="pergunta_${perguntaCount}_tipo" value="text"/>
                  Texto
                </label>
                <label class="radio">
                  <input type="radio" name="pergunta_${perguntaCount}_tipo" value="number" />
                  Número
                </label>
                <label class="radio">
                  <input type="radio" name="pergunta_${perguntaCount}_tipo" value="radio"/>
                  Opções
                </label>
              </div>
              <br>
        `;
    
    const tipoResposta = perguntaDiv.querySelector(`input[name=pergunta_${perguntaCount}_tipo][value=radio]`);
    tipoResposta.addEventListener('change', function() {
      if (this.checked) {
        const opcoesDiv = perguntaDiv.querySelector('.opcoes-div');
        if (opcoesDiv) {
          opcoesDiv.remove(); // Remove as opções existentes, se houver
        }
        const opcoesDivNew = document.createElement("div");
        opcoesDivNew.className = 'opcoes-div';
        opcoesDivNew.innerHTML = `
          <label>Opções:</label><br>
          <div id="opcoes_${perguntaCount}">
            <input type="text" name="pergunta_${perguntaCount}_opcao_1" class="input" placeholder="Opção 1"><br>
          </div>
          <button type="button" onclick="adicionarOpcao(${perguntaCount})" class="button is-small mt-1">
            Adicionar Opção
          </button>
        `;
        perguntaDiv.appendChild(opcoesDivNew);
      }
    });

    perguntasContainer.appendChild(perguntaDiv);
  }

  function adicionarOpcao(perguntaId) {
    const opcoesContainer = document.getElementById(`opcoes_${perguntaId}`);
    const opcaoCount = opcoesContainer.querySelectorAll('input').length + 1;
    const opcaoInput = document.createElement("input");
    opcaoInput.type = "text";
    opcaoInput.name = `pergunta_${perguntaId}_opcao_${opcaoCount}`;
    opcaoInput.className = "input";
    opcaoInput.placeholder = `Opção ${opcaoCount}`;
    opcoesContainer.appendChild(opcaoInput);
    opcoesContainer.appendChild(document.createElement("br"));
  }
</script>
{% endblock content %}
