body, main{
	width: 100%;
	height: 100%;
}

body {
    font-family: 'Arial', sans-serif; /* Escolha uma fonte agradável */
    background-color: #cdf5fd; /* Cor de fundo da página */
    margin: 0; /* Remover margens padrão do corpo da página */
    display: flex; /* Usar flexbox para ocupar a altura total */
    min-height: 100vh; /* Altura mínima da viewport */
}

main {
    flex: 1; /* Ocupar o espaço restante disponível */
    background-color: #f5fcff; /* Cor de fundo do conteúdo principal */
}

.div-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    
}

.form-login {
    max-width: 500px;
    min-width: 350px;
    margin: auto;
    padding: 20px;
}

.img-login {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}

.bg-light-blue {
    background-color: #f5fcff;
}
.bg-blue {
    background-color: #cdf5fd;
}
.bg-blue-plus {
    background-color: #89cff3;
}
.bg-white {
    background-color: white;
}

.bg-form {
    border-radius: 15px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.navbar {
	background-color: #89cff3; /* Cor de fundo da navbar */
	color: #2c3e50; /* Cor do texto da navbar */
}
.navbarmenu {
	background-color: #cdf5fd; /* Cor de fundo da navbar */
	color: #2c3e50; /* Cor do texto da navbar */
}

.button.is-primary {
    background-color: #00a9ff; /* Cor de fundo do botão primário */
    color: white; /* Cor do texto do botão primário */
    transition: background-color 0.3s; /* Transição suave de cor */
}

.button.is-primary:hover {
    background-color: #0077cc; /* Cor de fundo do botão primário no hover *//
}

.button.is-light {
    background-color: #a0e9ff; /* Cor de fundo do botão light */
    color: #2c3e50; /* Cor do texto do botão light */
    transition: background-color 0.3s; /* Transição suave de cor */
}

.button.is-light:hover {
    background-color: #87c2eb; /* Cor de fundo do botão light no hover */
}
/* styles.css */


aside.menu {
    flex: 0 0 250px; /* Largura fixa de 250px, não flexível */
    background-color: #cdf5fd; /* Tom diferente */
    color: #2c3e50;
    transition: background-color 0.3s; /* Transição suave de cor */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    margin-right: 20px; /* Espaço à direita para separar do conteúdo principal */
}

aside.menu a {
    color: #2c3e50;
    transition: color 0.3s; /* Transição suave de cor */
}

aside.menu a.is-active {
    color: #ffffff;
    background-color: #00a9ff;
}

aside.menu a:hover {
    background-color: #87c2eb; /* Cor de fundo no hover */
    color: #ffffff; /* Cor do texto no hover */
}

footer {
    background-color: #89cff3; /* Cor de fundo do rodapé */
    color: white; /* Cor do texto do rodapé */
    padding: 10px;
    text-align: center;
    border-top: 1px solid #2c3e50; /* Linha superior para separação do conteúdo */
}

.custom-card {
    width: 290px; /* Largura fixa dos cartões */
    margin-right: 20px; /* Espaçamento entre os cartões */
    background-color: #f0f8ff; /* Azul claro de fundo */
    transition: background-color 0.3s; /* Transição suave de cor */
}

.custom-columns {
    column-count: 5; /* Número de colunas */
    column-gap: 20px; /* Espaçamento entre as colunas */
}

.tam-field-1-5 {
    max-width: 125px;
}

.tam-field-1-75 {
    max-width: 150px;
}

.tam-field-1 {
   max-width: 250px;
}

.tam-field-card {
   max-width: 390px;
}

.tam-field-2 {
   max-width: 475px;
}

.tam-field-3 {
   max-width: 700px;
}

#messages-container {
    position: fixed;
    top: 10px; /* Ajuste conforme necessário para a posição vertical */
    right: 10px; /* Ajuste conforme necessário para a posição horizontal */
    z-index: 1000; /* Garante que o alerta fique acima de outros elementos na página */
  }

/* Adicione estilos para o elemento de loading */
.modal-loading {
    display: none; /* Inicialmente oculto */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 5px;
    color: #2c3e50;
  }

a.disabled {
  color: #ccc; /* Cor do link inativo */
  pointer-events: none; /* Impede que o link seja clicado */
  cursor: not-allowed; /* Altera o cursor para indicar que está inativo */
  text-decoration: none; /* Remove sublinhado */
}

.navbar-second {
    z-index: 1; /* Defina um valor maior do que a z-index da primeira navbar ou do dropdown */
}

.dropdown-content {
    display: flex;
    flex-direction: column;
}

.dropdown-item {
    flex: 1;
}
.dropdown-item {
    width: 100%; /* Ou qualquer outra largura desejada */
}

.text-aviso {
    min-height: 20em;
  }
