{% extends "base.html" %}
{% block content %}
    {% if id_depart %}
        <form action="{{url_for('depart.edit_depart', depart_id=id_depart)}}" method="post">
        <input type="hidden" name="id_depart" value={{id_depart}}>
    {% else %}
        <form action="{{url_for('depart.new_depart')}}" method="post">
    {% endif %}

    <div class="container">
        <div class="field">
          <label class="label">{{ form.departamento.label() }}</label>
          <div class="control">{{ form.departamento(class = 'input tam-field-2', placeholder = '') }}</div>
        </div>    
        <div class="field">
          <a class="button is-danger" href="{{url_for('depart.manager')}}">Cancelar</a>
          {{ form.submit(class = 'button is-primary') }}
        </div>
      </div>
    </form>
    </div>
{% endblock content %}