{% extends "base.html" %}
{% block content %}
{% from 'components/layout/tag.html' import tag %}

<div class="has-background-white p-4 has-rounded-sm">
    <div class="">
        <p><strong>Pesquisar departamentos: </strong></p>
        <form action="{{ url_for('depart.manager') }}" method="get">
                    <div class="is-flex is-flex-direction-column mt-5">
                        <label for="departamento">Departamento: </label>
                        <input class="input" type="text" name="departamento" id="departamento" value="{{departamento}}">
                    </div>
                <div class="is-flex is-justify-content-flex-end">
                    <div class="control is-flex is-justify-content-flex-end mt-5">
                        <a href="{{url_for('depart.manager', page=1)}}" class="button is-danger mr-4">Limpar</a>
                        <button type="submit" class="button is-info">Buscar</button>
                    </div>
                </div>
            </div>
            
        </form>
  <div class="notification p-3 mt-5 bg-blue-plus mb-0">
    <div class="columns">
        <div class="column is-flex is-align-items-center">
            <p>
                <strong class="">
                    Departamentos encontrados:
                </strong>
            </p>
        </div>
        <div class="column">
            <div class="is-flex is-justify-content-flex-end buttons are-small is-flex is-align-items-baseline">
                <span class="">Ordem:</span>
                <a href="{{url_for('depart.manager', departamento=departamento, page=page, ordem='asc')}}" {% if ordem =='asc' %}disabled{%endif%} class="ml-1 button"><i class="fa-solid fa-arrow-up-wide-short"></i></a>
                <a href="{{url_for('depart.manager', departamento=departamento, page=page, ordem='desc')}}" class="button" {% if ordem =='desc' or ordem == '' %}disabled{%endif%}><i class="fa-solid fa-arrow-down-wide-short"></i></a>  
            </div>
        </div>
    </div>
  </div>
  <table class="table is-striped is-hoverable is-fullwidth">
    <thead>
        <tr>
        <th>Cod </th>    
        <th>Departamento</th>
        <th></th>
        </tr>
    </thead>
    <tbody>
        {% for depart in departamentos %}
            <tr>
                <td>{{depart.id}}</td>
                <td>{{depart.nome}}</td>
                <td class="has-text-right">
                    <a href="{{url_for('depart.edit_depart', depart_id=depart.id)}}" class="tooltip" data-tooltip="editar">
                      <span><i class="fas fa-edit icon-hover has-text-info"></i></span>
                    </a>
                    <a href="{{url_for('depart.delete_depart', depart_id=depart.id)}}" class="tooltip" data-tooltip="excluir">
                      <span><i class="fas fa-trash icon-hover has-text-danger ml-2"></i></span>
                    </a>                      
            </tr>
        {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}