<aside class="menu px-5 pb-5 pt-0 mt-0 mr-0">
  <div class="is-flex is-flex-direction-column is-justify-content-center is-align-items-center mt-5 mb-6">
    <img src="{{url_for('static', filename='img/logo_comp.png')}}" alt="">
  </div>
  {% for item in menu %}
    {% if not item.permission or item.permission in user_permissions %}
      <p class="menu-label">{{item.label}}</p>
      {% for sub in item.submenu %}
        {% if sub.permission in user_permissions or sub.permission == None %}
          <ul class="menu-list">
            <li><a class="{% if sub.label == menu_ativo %}is-active{% endif%}" href="{{url_for(sub.url)}}">{{sub.label}}</a></li>
          </ul>
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endfor %}
</aside>
