<aside class="menu p-5">
  <p class="menu-label">
      Correspondências
  </p>
  <ul class="menu-list">
      <li><a>Nova</a></li>
      <li><a>Meus Envios</a></li>
      <li><a>Pesquisa</a></li>
  </ul>
  <p class="menu-label">
      Administração
  </p>
  <ul class="menu-list">
      <li><a>Editar Perfil</a></li>
      <li><a>Alterar Senha</a></li>
  </ul>
</aside>


  <!-- exemplo de menu suspenso -->
  <!--
    <a class="is-active">Manage Your Team</a>
          <ul>
            <li><a>Members</a></li>
            <li><a>Plugins</a></li>
            <li><a>Add a member</a></li>
          </ul>
  -->