<div class="navbar-item my-0 py-0 ">
  <div class="media my-0 py-0 is-flex is-justify-content-center is-align-items-center">
    <div class="media-content my-0 py-0">
      <p class="title is-6 has-text-white">Seu Nome</p>
    </div>
    <div class="media-right my-0 py-0">
      <figure class="image is-28x28">
        <!--  
              <img src="{{url_for('static', filename='img/avatar.jpg')}}" alt="Avatar">
        -->
        <img class="is-rounded" src="https://github.com/edmaker89.png" alt="" />
      </figure>
    </div>
  </div>
</div>
