<nav class="navbar navbarmenu" role="navigation" aria-label="main navigation">
    
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a href="{{url_for('index')}}" class="navbar-item">
          Home
        </a>
  
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Correspondencias
          </a>
  
          <div class="navbar-dropdown">
            <a href="{{url_for('mail.new')}}" class="navbar-item">
              Nova Correspondencia
            </a>
            <a href="{{url_for('mail.my_mails')}}" class="navbar-item">
              Minhas Correspondencias
            </a>
            <a href="{{url_for('mail.all_mails')}}" class="navbar-item">
              Todas Correspondências
            </a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Perfil
          </a>
  
          <div class="navbar-dropdown">
            <a href="{{url_for('user.edit_perfil')}}" class="navbar-item">
              Editar perfil
            </a>
            <a href="{{url_for('user.reset_password')}}" class="navbar-item">
              Alterar senha
            </a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Acesso Restrito
          </a>
  
          <div class="navbar-dropdown">
            <a href="{{url_for('user.manager_user')}}" class="navbar-item">
              Gestão de usuários
            </a>
            <a href="{{url_for('depart.manager')}}" class="navbar-item">
              Gestão de departamentos
            </a>
          </div>
        </div>
    </div>
  </nav>