<nav class="navbar navbarmenu navbar-second" role="navigation" aria-label="main navigation">
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a href="{{url_for('index')}}" class="navbar-item">
          Home
        </a>
  
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Correspondencias
          </a>
  
          <div class="navbar-dropdown">
            <a href="{{url_for('mail.new')}}" class="navbar-item">
              Nova Correspondencia
            </a>
            <a href="{{url_for('mail.my_mails')}}" class="navbar-item">
              Minhas Correspondencias
            </a>
            {% if 'todas correspondencias' in user_permissions %}
              <a href="{{url_for('mail.all_mails')}}" class="navbar-item">
                Todas Correspondências
              </a>
            {% endif %}
            
          </div>
        </div>

        {% if 'regulacao' in user_permissions %}
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Central de Regulação
          </a>
  
          <div class="navbar-dropdown">
            <a href="{{url_for('regulacao.cidadao_novo')}}" class="navbar-item">
              Cidadãos
            </a>
            <a href="{{url_for('regulacao.protocolo')}}" class="navbar-item">
              Protocolo
            </a>
            {% if 'acesso restrito' in user_permissions %}
              <a href="" class="navbar-item">
                Relatórios
              </a>
            {% endif %}
            
          </div>
        </div>
        {% endif %}
        {% if 'acesso restrito' in user_permissions %}
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Acesso Restrito
          </a>
  
          <div class="navbar-dropdown">
            <a href="{{url_for('user.manager_user')}}" class="navbar-item">
              Gestão de usuários
            </a>
            <a href="{{url_for('depart.manager')}}" class="navbar-item">
              Gestão de departamentos
            </a>
            <a href="{{url_for('admin.roles')}}" class="navbar-item">
              Gestão de perfil e permissão
            </a>
          </div>
        </div>
        {% endif %}
    </div>
  </nav>