{% extends "base.html" %}
{% block content %}
<div class="has-background-white p-4 has-rounded-sm">
    
      {% if id_user %}
        <form action="{{url_for('user.edit_user', id_user=id_user)}}" method="post">
        <input type="hidden" name="id_user" value={{id_user}}>
      {% else %}
      <form action="{{url_for('user.create_user')}}" method="post">
      {% endif %}
      
        <div class="">
            <div class="field">
              <label class="label">{{ form.username.label() }}</label>
              <div class="control">{{ form.username(class = 'input tam-field-2', placeholder = '') }}</div>
            </div>
            <div class="field">
              <label class="label">{{ form.nome_completo.label() }}</label>
              <div class="control">{{ form.nome_completo(class = 'input tam-field-2', placeholder = '') }}</div>
            </div>
            <div class="field">
              <label class="label">{{ form.departamento.label() }}</label>
              <div class="is-flex is-align-items-center">
                <div class="control">{{ form.departamento(class = 'input tam-field-2', placeholder = '') }}</div>
                <a class="ml-5" href="#" onclick="openNewDepart()">+ novo departamento</a>
              </div>
            </div>
            <div class="field">
              <label class="label">{{ form.email.label() }}</label>
              <div class="control">{{ form.email(class = 'input tam-field-2', placeholder = '') }}</div>
            </div>
            {% if not id_user %}
              <div class="field">
                <label class="label">{{ form.senha.label() }}</label>
                <div class="control">{{ form.senha(class = 'input tam-field-2', placeholder = '') }}</div>
              </div>
              <div class="field">
                <label class="label">{{ form.confirmar_senha.label() }}</label>
                <div class="control">{{ form.confirmar_senha(class = 'input tam-field-2', placeholder = '') }}</div>
              </div>
            {% endif %}
            
            <div class="field buttons mt-5">
              <a class="button is-danger" href="{{url_for('user.manager_user')}}">Cancelar</a>
              {{ form.submit(class = 'button is-primary') }}
            </div>
          </div>
    </form>
</div>
{% include "components/modals/new_department.html" %}
{% endblock content %}

