{% extends 'base.html' %}
{% block content %}
{% from 'components/macros/card_mail.html' import card_mail %}
    <div class="">
        <div class="has-background-white p-4 has-rounded-sm">
            <form action="{{ url_for('mail.my_mails') }}" method="get">
                <input type="hidden" name="id_organizacao" id="id_organizacao" value={{id_organizacao}}>
                <input type="hidden" name="id_estabelecimento" id="id_estabelecimento" value={{id_estabelecimento}}>
                <input type="hidden" name="id_departamento" id="id_departamento" value={{id_departamento}}>
                <input type="hidden" name="id_colaborador" id="id_colaborador" value={{id_colaborador}}>
                <p><strong>Pesquisar Correspondências: </strong></p>
                <div class="is-flex columns mb-0 mt-3">
                    <div class="is-flex column">
                        <div class="tam-field-1-75 mr-5">
                            <label for="data_inicial">Data Inicial: </label>
                            <input class="input" type="date" name="data_inicial" value={{data_inicial}}>
                        </div>
                        <div class="tam-field-1-75 mr-5">
                            <label for="data_final">Data Final: </label>
                            <input class="input" type="date" name="data_final" value={{data_final}}>
                        </div>
                        <div class="tam-field-1-75 mr-5" style="width: 6rem;">
                            <label for="numero">Número: </label>
                            <input class="input" type="text" name="numero" placeholder="000/0000" value={{numero}}>
                        </div>
                        <div class="is-flex is-flex-direction-column">
                            <label for="tipo">Tipo: </label>
                            <div class="select mt-0">
                                <select name="tipo" id="tipo">
                                    <option value=''></option>
                                    {% for tipo_option in tipos %}
                                    <option value="{{ tipo_option[0] }}" {% if tipo_option[0] == tipo %}selected{% endif %}>{{ tipo_option[1] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-0 mb-3">
                    <div class="control">
                        <label for="Assunto">Assunto: </label>
                        <input class="input" type="text" name="assunto" placeholder="Assunto" value="{{assunto}}">
                    </div>
                </div>
                <div class="is-flex columns mb-0">
                    <div class="is-flex column">
                        {% if 'organizacao' == e_responsavel %}
                        <div class="field is-flex is-flex-direction-column mr-3 tam-field-2">
                          <label for="estabelecimento">Estabelecimento: </label>
                          <div class="select mt-1 control">
                              <select name="estabelecimento" id="estabelecimento" class="input tam-field-2">
                                  <option value=''>Selecione um estabelecimento</option>
                                      {% for estabelecimento_option in estabelecimentos %}
                                      <option value="{{ estabelecimento_option[0] }}" 
                                          {% if estabelecimento_option[0] == estabelecimento %}selected{% endif %}>
                                          {{ estabelecimento_option[1] }}
                                      </option>
                                      {% endfor %}
                                    </select>
                                </div>
                            </div>
                            {% endif %}
                        {% if 'estabelecimento' == e_responsavel or 'organizacao' == e_responsavel %}
                        <div class="field is-flex is-flex-direction-column mr-3 tam-field-2">
                          <label for="departamento">Departamento: </label>
                          <div class="select mt-1 control">
                              <select name="departamento" id="departamento" class="input tam-field-2">
                                <option value=''>Selecione um departamento</option>
                                {% if 'estabelecimento' == e_responsavel %}
                                    {% for departamento_option in departamentos %}
                                        <option value="{{ departamento_option[0] }}" 
                                            {% if departamento_option[0] == id_departamento %}selected{% endif %}>
                                            {{ departamento_option[1] }}
                                        </option>  
                                    {% endfor %}
                                {% else %}
                                    <!-- alimentado com js -->
                                {% endif %}
                              </select>
                          </div>
                      </div>
                      {% endif %}
                      {% if e_responsavel %}
                        <div class="field is-flex is-flex-direction-column mr-3 tam-field-2">
                          <label for="colaboradores">Colaborador: </label>
                          <div class="select mt-1 control">
                              <select name="colaborador" id="colaborador" class="input tam-field-2">
                                  <option value=''>Selecione um colaborador</option>
                                  {% if 'departamento' == e_responsavel %}
                                    {% for colaborador_option in colaboradores %}
                                        <option value="{{ colaborador_option[0] }}" 
                                            {% if colaborador_option[0] == id_colaborador %}selected{% endif %}>
                                                {{ colaborador_option[1] }}
                                        </option>
                                    {% endfor %}
                                  {% else %}
                                  <!-- alimentado com js -->
                                  {% endif %}
                              </select>
                          </div>
                        </div>
                      {% endif %}
                      <div class="field is-flex is-flex-direction-column ml-3 mr-3 tam-field-2">
                        <label class="" for="visibilidade">Visibilidade: </label>
                        <div class="checkboxes mt-5">
                            <label class="checkbox">
                              <input type="checkbox" name="publica" {% if publica %}checked{% endif %} />
                              Pública
                            </label>
                            <label class="checkbox">
                              <input type="checkbox" name="privada" {% if privada %}checked{% endif %}/>
                              Privada
                            </label>
                            <label class="checkbox">
                              <input type="checkbox" name="sigilosa"{% if sigilosa %}checked{% endif %}/>
                              Sigilosa
                            </label>
                          </div>
                      </div>
                    </div>
                    <div class="is-flex is-justify-content-flex-end column">
                        <div class="buttons control is-flex is-justify-content-flex-end mt-5">
                            <a href="{{url_for('mail.my_mails', page=1)}}" class="button is-danger">Limpar</a>
                            <button type="submit" class="button is-primary">Buscar</button>
                        </div>
                    </div>
                </div>
                
            </form>
        </div>
      <div class="notification p-3 bg-blue-plus mb-0">
        <div class="columns">
            <div class="column is-flex is-align-items-center">
                <p>
                    <strong class="">
                        Correspondências encontradas:
                    </strong>
                </p>
            </div>
            <div class="column">
                <div class="is-flex is-justify-content-flex-end buttons are-small is-flex is-align-items-baseline">
                    <span class="">Ordem:</span>
                    <a href="{{url_for('mail.my_mails', page=1, numero=numero, data=data, assunto=assunto, tipo=tipo, ordem='asc')}}" {% if ordem =='asc' %}disabled{%endif%} class="ml-1 button"><i class="fa-solid fa-arrow-up-wide-short"></i></a>
                    <a href="{{url_for('mail.my_mails', page=1, numero=numero, data=data, assunto=assunto, tipo=tipo)}}" class="button" {% if ordem =='' %}disabled{%endif%}><i class="fa-solid fa-arrow-down-wide-short"></i></a>  
                </div>
            </div>
        </div>
      </div>
      <div class="is-flex is-flex-wrap-wrap p-5 has-background-white mt-0 has-rounded-sm gap">
        {% if mails.items %}
            {% for mail in mails %}
            {% set numero = mail.Correspondencias.numero_ano %}
            {% set assunto = mail.Correspondencias.assunto %}
            {% set tipo = mail.TipoCorrespondencias.tipo %}
            {% set data = mail.Correspondencias.data|format_data %}
            {% set correspondencia = mail.Correspondencias %}
            {% set visibilidade = mail.Correspondencias.visibilidade %}
            {% set nome_usuario = mail.Usuario.nome_completo %}
            {% set departamento = mail.Departamento %}
            {{card_mail(numero, assunto, tipo, data, correspondencia, nome_usuario, departamento, current_user)}}
            {% endfor %}
        {% else %}
            <div class="notification has-text-centered" style="display: block; width: 100%;"><em>Nenhuma correspondência foi encontrada.</em></div>
        {% endif %}
      </div>
      <hr/>
      <div class="pagination is-centered" role="navigation" aria-label="pagination">
        {% if mails.prev_num != None %}
        <a class="pagination-previous" href="{{ url_for('mail.my_mails', page=mails.prev_num, numero=numero, data=data, assunto=assunto, tipo=tipo, ordem=ordem) }}">Anterior</a>
        {% endif %}
        {% if mails.next_num != None %}
        <a class="pagination-next" href="{{ url_for('mail.my_mails', page=mails.next_num, numero=numero, data=data, assunto=assunto, tipo=tipo, ordem=ordem) }}" >Próximo</a>
        {% endif %}
        <ul class="pagination-list">
            {% for num in mails.iter_pages(left_edge=1, right_edge=1, left_current=2, right_current=2) %}
                {% if num %}
                    <li>
                        <a class="pagination-link {% if num == mails.page %}is-current{% endif %}" href="{{ url_for('mail.my_mails', page=num, numero=numero, data=data, assunto=assunto, tipo=tipo, ordem=ordem) }}">{{ num }}</a>
                    </li>
                {% else %}
                    <strong>
                        <li><span class="pagination-ellipsis">&hellip;</span></li>
                    </strong>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    </div>
    {% include "components/modals/edit_assunto.html" %}

    <script>
        
document.addEventListener("DOMContentLoaded", async () => {
    console.log('carregou a bagaça')
    const organizacaoSelect = document.getElementById("organizacao");
    const estabelecimentoSelect = document.getElementById("estabelecimento");
    const departamentoSelect = document.getElementById("departamento");
    const colaboradorSelect = document.getElementById("colaborador")
  
    // Obtém os valores dos campos hidden
    
    try {
      const selectedOrganizacao = document.getElementById("id_organizacao").value;
      const selectedEstabelecimento = document.getElementById("id_estabelecimento").value;
      const selectedDepartamento = document.getElementById("id_departamento").value;
      const selectedColaborador = document.getElementById("id_colaborador").value
      console.log(selectedColaborador)
      // Define o valor de organização e carrega as opções correspondentes
      if (organizacaoSelect && selectedOrganizacao) {
        console.log('entrou no if 1')
        organizacaoSelect.value = selectedOrganizacao;
        await handleOrganizacaoChange(selectedEstabelecimento, selectedDepartamento);
        estabelecimentoSelect.value = selectedEstabelecimento;
        if (estabelecimentoSelect) {
          console.log('entrou no if 2')
          await handleEstabelecimentoChange();
          departamentoSelect.value = selectedDepartamento
          if (departamentoSelect) {
            await handleDepartamentoChange()
            console.log(selectedColaborador)
            colaboradorSelect.value = selectedColaborador
          }
        }
      }else if (estabelecimentoSelect && selectedEstabelecimento){
          estabelecimentoSelect.value = selectedEstabelecimento;
          await handleEstabelecimentoChange();
          departamentoSelect.value = selectedDepartamento
          if (departamentoSelect) {
            await handleDepartamentoChange();
            colaboradorSelect.value = selectedColaborador
          }
        }else if (departamentoSelect && selectedDepartamento) {
            console.log('bateu no departamento')
          departamentoSelect.value = selectedDepartamento
          await handleDepartamentoChange();
          console.log(selectedColaborador)
            colaboradorSelect.value = selectedColaborador
        }
    } catch {
      const selectedOrganizacao = '';
      const selectedEstabelecimento = '';
      const selectedDepartamento = '';
      const selectedColaborador = ''
    }
  
    // Adiciona event listeners para mudanças nos selects
    if (organizacaoSelect) {
        organizacaoSelect.addEventListener("change", () => handleOrganizacaoChange());
    }
  
    if (estabelecimentoSelect) {
        estabelecimentoSelect.addEventListener("change", () => handleEstabelecimentoChange());
    }
    if (departamentoSelect) {
        departamentoSelect.addEventListener("change", () => handleDepartamentoChange());
    }
  });
  
  // Função para lidar com a seleção de uma organização
  async function handleOrganizacaoChange(selectedEstabelecimento = null, selectedDepartamento = null) {
    const organizacaoId = document.getElementById("organizacao").value;
    const estabelecimentoSelect = document.getElementById("estabelecimento");
    const departamentoSelect = document.getElementById("departamento");
  
    if (organizacaoId) {
        try {
            const estabelecimentos = await fetchEstabelecimentos(organizacaoId);
            populateSelect(estabelecimentoSelect, estabelecimentos, 'Selecione um estabelecimento', selectedEstabelecimento);
            clearSelect(departamentoSelect, 'Selecione um departamento');
            
            // Carrega os departamentos automaticamente se um estabelecimento foi passado
            if (selectedEstabelecimento) {
                await handleEstabelecimentoChange(selectedDepartamento);
            }
        } catch (error) {
            console.error("Erro ao buscar estabelecimentos:", error);
        }
    } else {
        clearSelect(estabelecimentoSelect, 'Selecione um estabelecimento');
        clearSelect(departamentoSelect, 'Selecione um departamento');
    }
  }
  
  // Função para lidar com a seleção de um estabelecimento
  async function handleEstabelecimentoChange(selectedDepartamento = null) {
    const estabelecimentoId = document.getElementById("estabelecimento").value;
    const departamentoSelect = document.getElementById("departamento");
  
    if (estabelecimentoId) {
        try {
            const departamentos = await fetchDepartamentos(estabelecimentoId);
            populateSelect(departamentoSelect, departamentos, 'Selecione um departamento', selectedDepartamento);
        } catch (error) {
            console.error("Erro ao buscar departamentos:", error);
        }
    } else {
        clearSelect(departamentoSelect, 'Selecione um departamento');
    }
  }
  
  // Função para lidar com a seleção de um Departamentp
  async function handleDepartamentoChange(selectedColaborador = null) {
    const departamentoId = document.getElementById("departamento").value;
    const colaboradorSelect = document.getElementById("colaborador");
  
    if (departamentoId) {
        try {
            const colaboradores = await fetchColaboradores(departamentoId);
            populateSelect(colaboradorSelect, colaboradores, 'Selecione um colaborador', selectedColaborador);
        } catch (error) {
            console.error("Erro ao buscar colaboradores:", error);
        }
    } else {
        clearSelect(colaboradorSelect, 'Selecione um colaborador');
    }
  }
  
  
  // Função para buscar estabelecimentos pela organização
  async function fetchEstabelecimentos(organizacaoId) {
    const response = await fetch(`/organization/api/organizacao/${organizacaoId}/estabelecimentos`);
    return response.json();
  }
  
  // Função para buscar departamentos pelo estabelecimento
  async function fetchDepartamentos(estabelecimentoId) {
    const response = await fetch(`/organization/api/estabelecimento/${estabelecimentoId}/departamentos`);
    return response.json();
  }
  
  // Função para buscar colaboradores pelo departamento
  async function fetchColaboradores(departamentoId) {
    console.log('fetch colaborador')
    const response = await fetch(`/organization/api/departamento/${departamentoId}/colaboradores`);
    return response.json();
  }
  
  // Função para preencher o select com as opções e definir o valor selecionado
  function populateSelect(selectElement, items, placeholderText, selectedValue = null) {
    clearSelect(selectElement, placeholderText);
    items.forEach(item => {
        const option = document.createElement("option");
        option.value = item['id'];
        option.textContent = item['nome'];
        if (selectedValue && item['id'] === selectedValue) {
            option.selected = true;
        }
        selectElement.appendChild(option);
    });
  }
  
  function populateSelectColaborador(selectElement, items, placeholderText, selectedValue = null) {
    clearSelect(selectElement, placeholderText);
    items.forEach(item => {
        console.log(item)
        const option = document.createElement("option");
        option.value = item['id'];
        option.textContent = item['nome_completo'];
        if (selectedValue && item['id'] === selectedValue) {
            option.selected = true;
        }
        selectElement.appendChild(option);
    });
  }
  
  // Função para limpar o select e adicionar a opção inicial
  function clearSelect(selectElement, placeholderText) {
    selectElement.innerHTML = `<option value=''>${placeholderText}</option>`;
  }
    </script>
{% endblock %}
