{% extends 'base.html' %}
{% block content %}
{% from 'components/macros/card_mail.html' import card_mail %}
    <div class="">
        <div class="has-background-white p-4 has-rounded-sm">
            <form action="{{ url_for('mail.my_mails') }}" method="get">
                <input type="hidden" name="id_organizacao" id="id_organizacao" value={{id_organizacao}}>
                <input type="hidden" name="id_estabelecimento" id="id_estabelecimento" value={{id_estabelecimento}}>
                <input type="hidden" name="id_departamento" id="id_departamento" value={{id_departamento}}>
                <input type="hidden" name="id_colaborador" id="id_colaborador" value={{id_colaborador}}>
                <p><strong>Pesquisar Correspondências: </strong></p>
                <div class="is-flex columns mb-0 mt-3">
                    <div class="is-flex column">
                        <div class="tam-field-1-75 mr-5">
                            <label for="data_inicial">Data Inicial: </label>
                            <input class="input" type="date" name="data_inicial" value={{data_inicial}}>
                        </div>
                        <div class="tam-field-1-75 mr-5">
                            <label for="data_final">Data Final: </label>
                            <input class="input" type="date" name="data_final" value={{data_final}}>
                        </div>
                        <div class="tam-field-1-75 mr-5" style="width: 6rem;">
                            <label for="numero">Número: </label>
                            <input class="input" type="text" name="numero" placeholder="000/0000" value={{numero}}>
                        </div>
                        <div class="is-flex is-flex-direction-column">
                            <label for="tipo">Tipo: </label>
                            <div class="select mt-0">
                                <select name="tipo" id="tipo">
                                    <option value=''></option>
                                    {% for tipo_option in tipos %}
                                    <option value="{{ tipo_option[0] }}" {% if tipo_option[0] == tipo %}selected{% endif %}>{{ tipo_option[1] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-0 mb-3">
                    <div class="control">
                        <label for="Assunto">Assunto: </label>
                        <input class="input" type="text" name="assunto" placeholder="Assunto" value={{assunto}}>
                    </div>
                </div>
                <div class="is-flex columns mb-0">
                    <div class="is-flex column">
                        {% if 'organizacao' == e_responsavel %}
                        <div class="field is-flex is-flex-direction-column mr-3 tam-field-2">
                          <label for="estabelecimento">Estabelecimento: </label>
                          <div class="select mt-1 control">
                              <select name="estabelecimento" id="estabelecimento" class="input tam-field-2">
                                  <option value=''>Selecione um estabelecimento</option>
                                      {% for estabelecimento_option in estabelecimentos %}
                                      <option value="{{ estabelecimento_option[0] }}" 
                                          {% if estabelecimento_option[0] == estabelecimento %}selected{% endif %}>
                                          {{ estabelecimento_option[1] }}
                                      </option>
                                      {% endfor %}
                                    </select>
                                </div>
                            </div>
                            {% endif %}
                        {% if 'estabelecimento' == e_responsavel or 'organizacao' == e_responsavel %}
                        <div class="field is-flex is-flex-direction-column mr-3 tam-field-2">
                          <label for="departamento">Departamento: </label>
                          <div class="select mt-1 control">
                              <select name="departamento" id="departamento" class="input tam-field-2">
                                  <option value=''>Selecione um departamento</option>
                                      <!-- alimentado com js -->
                              </select>
                          </div>
                      </div>
                      {% endif %}
                      {% if e_responsavel %}
                        <div class="field is-flex is-flex-direction-column mr-3 tam-field-2">
                          <label for="colaboradores">Colaborador: </label>
                          <div class="select mt-1 control">
                              <select name="colaborador" id="colaborador" class="input tam-field-2">
                                  <option value=''>Selecione um colaborador</option>
                                  {% if 'departamento' == e_responsavel %}
                                    {% for colaborador_option in colaboradores %}
                                        <option value="{{ colaborador_option[0] }}" 
                                            {% if colaborador_option[0] == id_colaborador %}selected{% endif %}>
                                                {{ colaborador_option[1] }}
                                        </option>
                                    {% endfor %}
                                  {% else %}
                                  <!-- alimentado com js -->
                                  {% endif %}
                              </select>
                          </div>
                        </div>
                      {% endif %}
                    </div>
                    <div class="is-flex is-justify-content-flex-end column">
                        <div class="buttons control is-flex is-justify-content-flex-end mt-5">
                            <a href="{{url_for('mail.my_mails', page=1)}}" class="button is-danger">Limpar</a>
                            <button type="submit" class="button is-primary">Buscar</button>
                        </div>
                    </div>
                </div>
                
            </form>
        </div>
      <div class="notification p-3 bg-blue-plus mb-0">
        <div class="columns">
            <div class="column is-flex is-align-items-center">
                <p>
                    <strong class="">
                        Correspondências encontradas:
                    </strong>
                </p>
            </div>
            <div class="column">
                <div class="is-flex is-justify-content-flex-end buttons are-small is-flex is-align-items-baseline">
                    <span class="">Ordem:</span>
                    <a href="{{url_for('mail.my_mails', page=1, numero=numero, data=data, assunto=assunto, tipo=tipo, ordem='asc')}}" {% if ordem =='asc' %}disabled{%endif%} class="ml-1 button"><i class="fa-solid fa-arrow-up-wide-short"></i></a>
                    <a href="{{url_for('mail.my_mails', page=1, numero=numero, data=data, assunto=assunto, tipo=tipo)}}" class="button" {% if ordem =='' %}disabled{%endif%}><i class="fa-solid fa-arrow-down-wide-short"></i></a>  
                </div>
            </div>
        </div>
      </div>
      <div class="is-flex is-flex-wrap-wrap is-justify-content-space-between p-5 has-background-white mt-0 has-rounded-sm">
        {% if mails.items %}
            {% for mail in mails %}
            {% set numero = mail.Correspondencias.numero_ano %}
            {% set assunto = mail.Correspondencias.assunto %}
            {% set tipo = mail.TipoCorrespondencias.tipo %}
            {% set data = mail.Correspondencias.data|format_data %}
            {% set correspondencia = mail.Correspondencias %}
            {% set visibilidade = mail.Correspondencias.visibilidade %}
            {% set nome_usuario = mail.Usuario.nome_completo %}
            {% set departamento = mail.Departamento %}
            {{card_mail(numero, assunto, tipo, data, correspondencia, nome_usuario, departamento, current_user)}}
            {% endfor %}
        {% else %}
            <div class="notification has-text-centered" style="display: block; width: 100%;"><em>Nenhuma correspondência foi encontrada.</em></div>
        {% endif %}
      </div>
      <hr/>
      <div class="pagination is-centered" role="navigation" aria-label="pagination">
        {% if mails.prev_num != None %}
        <a class="pagination-previous" href="{{ url_for('mail.my_mails', page=mails.prev_num, numero=numero, data=data, assunto=assunto, tipo=tipo, ordem=ordem) }}">Anterior</a>
        {% endif %}
        {% if mails.next_num != None %}
        <a class="pagination-next" href="{{ url_for('mail.my_mails', page=mails.next_num, numero=numero, data=data, assunto=assunto, tipo=tipo, ordem=ordem) }}" >Próximo</a>
        {% endif %}
        <ul class="pagination-list">
            {% for num in mails.iter_pages(left_edge=1, right_edge=1, left_current=2, right_current=2) %}
                {% if num %}
                    <li>
                        <a class="pagination-link {% if num == mails.page %}is-current{% endif %}" href="{{ url_for('mail.my_mails', page=num, numero=numero, data=data, assunto=assunto, tipo=tipo, ordem=ordem) }}">{{ num }}</a>
                    </li>
                {% else %}
                    <strong>
                        <li><span class="pagination-ellipsis">&hellip;</span></li>
                    </strong>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    </div>
    {% include "components/modals/edit_assunto.html" %}

    <script src="{{url_for('static', filename='js/reative_organization.js')}}"></script>
{% endblock %}
