{% extends 'base.html' %}
{% block content %}
<div class="notification is-primary">
    <p class="title is-5">Número gerado com Sucesso: {{ mail.TipoCorrespondencias.tipo }} {{ mail.Correspondencias.numero_ano }}
    </p>
</div>
<div class="is-flex is-flex-direction-column has-background-white-ter p-5">
    <div class="mb-5">
        <p class="title">Detalhes da Correspondência</p>
        <ul>
            <li><strong>Numero:</strong> {{ mail.Correspondencias.numero_ano }}</li>
            <li><strong>Assunto:</strong> {{ mail.Correspondencias.assunto }}</li>
            <li><strong>Tipo:</strong> {{ mail.TipoCorrespondencias.tipo }}</li>
            <li><strong>Data:</strong> {{ mail.Correspondencias.data|format_data }}</li>
            <!-- Adicione mais detalhes conforme necessário -->
        </ul>
    </div>
    <p class="has-text-grey">Todos os números de correspondências geradas podem ser acessados em <a href="{{url_for('mail.my_mails')}}">Minhas Correspondências</a></p>
</div>
<div class="field is-grouped pt-5 has-text-right">
    <div class="control mr-4">
        <a href="{{url_for('mail.new')}}" class="button is-primary">Nova Correspondência</a>
    </div>
</div>
{% endblock %}
